body
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 24px;
}


/*Global*/

section{
    width: 100%;
    height: 92%;
    padding: 80px 20px;

    /* padding: 10% 4%; */
    /* margin: 0; */
}

h1{
    margin: 0px;
}

p{
    padding: 10px 25px;
}

.dark{
    background-color: black;
    color: white;
}

.heading {
    font-weight: 700;
    font-size: 200px;
    display: inline-block;
}

.heading-1 {
    font-weight: 700;
    font-size: 100px;
    margin : 20px;
    
}

.heading-2{
    font-weight: 400;
    font-size: 50px;
}


/*Navbar*/

.nav{
    background: #000;
    color: #FFF;
    display: flex;
    border-bottom: 2px solid white;
    z-index: 2;
}
.nav .logo{
    font-weight: 300;
    font-size: 24px;
    padding: 20px;
    margin-left: 25px
}
.nav .logo a{
    font-weight: 300;
    color: #FFF;
    text-decoration: none
}
.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 50%;
    margin-left: auto

}
ul li{
    padding: 20px;
    list-style: none
}
ul li a{
    color: #FFF;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

/*Home section */

.arrow-container{
    text-align: center;
}

.arrow{
    text-decoration: none;
    color: white;
    font-size: 100px;
}

.second-section{
    margin: 40px 0;
}
#home{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

#home h1{
    text-align: justify;
}

#home img {
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-left: 50vw;
}

/* .corner{
    display:flex;
    position:aboslute;
    justify-content:flex-end;
    align-items:flex-end;
    width: 100px;
    height: 100px;
  } */



/*Know More section*/
.services-container{
    display: flex;
    flex-direction: row;
    gap:25px;
    padding: 50px 20px;
    border-bottom: 10px solid black;
    /* overflow-x: auto; */
}

.item{
    border: 1px solid black;
}

.item h2{
    padding-left:25px;
}

.item:hover{
    background-color: black;
    color: white;
}
/* .service-1 h2{
    text-align: center;
}*/


#about-us {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
}



/*Contact us section*/
#contact-us{
       /* margin: 0 20px; */
}

.heading-center{
    text-align: center;
}

/* .contact-container{
    margin: 0 auto;
    align-items: cen;
} */

form{
    align-items: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

/* input, button{
    display: block;
    width:70%;
    padding: 15px;
    margin: 35px auto;
    border: 2px solid white;
} */

input{
    padding: 20px;
    border: 2px solid white;
    width: 70%;
}


button{
    font-weight: 300;
    font-size: 24px;
    width: 200px;
    height: 50px;
}

.btn-container{
    display: flex;
    flex-direction: row;
    align-items: start;
}

input::-webkit-input-placeholder {
    color: white !important;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color: white!important;  
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;  
    }
     
    input:-ms-input-placeholder {  
    color: white !important;  
    }


    /* ================================= 
  Media Queries
==================================== */




@media (max-width: 769px)  {

    *{
        margin:0px;
        padding: 0px;
    }
    .heading{
        font-weight: 400;
        font-size: 100px;
        text-align: center;
    }
    .heading-1, .heading-2{
        display: block;
        text-align: center;
        font-weight: 200;
        font-size: 50px;
    }

    p{
        display: block;
        text-align: center;
        font-weight: 100;
        font-size: 25px;
    }

	.nav {
		display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
	}
    div .log{
        margin: 0;
    }
     .nav ul{
        margin:0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    #home{
        display: block;
        flex-direction: column;
        margin : 0 auto;
        
    }

    #home img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #about-us{
        display: flex;
        flex-direction: column-reverse;
        gap:30px;
    }

    .item-1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
     .item-1 img{
        width:600px;
        height: 600px;;
     }

    .wrapper{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    
    
}

@media (min-width: 1025px) {
	.nav {
		flex-direction: row;
		justify-content: space-between;
	}

}
